extends layout

block header
  header
    .header-wrap
      .installation
        .site-description!= site.description
        .card-wrap
          .card
            .card-inner.install-node
              h1 Download Chai
                span.version v1.0.0
              h2 for Node
                small Another platform?
                  a(href='#') Browser
                  a(href='#') Rails
              .download-banner 
                .description The <code>chai</code> package is available on npm.
                .command.dsp-left $ npm install chai
                a.button.dsp-right(href='#') View node guide
              .tech-links
                a(href='#') Issues
                | &nbsp;|
                a(href='#') Upgrade notes
                | &nbsp;|
                a(href='#') Changelog
                | &nbsp;|
                a(href='#') Community
                | &nbsp;|
                a(href='#') Build status
      .callouts
        .call
          a(href='#')
            span &nbsp;
            big Getting Started
            small Learn how install and use Chai through a series of guided walkthroughs.
        .call
          a(href='#')
            span &nbsp;
            big API Documentation
            small Explore the BDD &amp; TDD language specifications for all available assertions.
        .call
          a(href='#')
            span &nbsp; 
            big Plugin Directory
            small Extend Chai's with additional assertions and vendor integration.

block content
  #home.grid_12
    .rowInside
      article.grid_12.desc
        h2 Chai has interfaces... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      if (files.home_samples)
        for section in files.home_samples
          article.grid_4.code
            .wrap
              h3= section.title
              .code-sample!= section.prepared
              a(href='#', class='more') Visit #{section.title} Guide &rarr;
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2 Plugins extend Chai... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      article.grid_3.cplugs
        .wrap
          span.img &nbsp;
          h3 Custom Plugins
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          a(href='#', class='more') Get Custom Plugins &rarr;
      article.grid_3.vplugs
        .wrap
          span.img &nbsp;
          h3 Vendor Integration
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          a(href='#', class='more') Get Vendor Plugins &rarr;
      article.grid_3.pplugs
        .wrap
          span.img &nbsp;
          h3 Platforms
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          a(href='#', class='more') See Available Platorms &rarr;
      article.grid_3.dplugs
        .wrap
          span.img &nbsp;
          h3 Develop Plugins
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          a(href='#', class='more') Plugin Developer's Guide &rarr;
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2 Chai's awesome community... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      article.github.grid_6
        .wrap
          span.img &nbsp;
          h3 Powered by Open Source
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula odio sit amet dolor porta non lacinia risus molestie. Nulla posuere.
          a(href='#', class='more') Fork me on GitHub &rarr;
      article.community.grid_6
        .wrap
          span.img &nbsp;
          h3 Involved Community
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula odio sit amet dolor porta non lacinia risus molestie. Nulla posuere.
          a(href='#', class='more') Visit Google Group &rarr;
      article.subscribe.grid_12
        .rowInside
          .grid_6
            .wrap
              h3 Subscribe to the Chai Newsletter
              p Get notified about new releases and useful tips.
          .grid_6
            .wrap
              .form Form
