html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.75em;
  line-height: 1.5;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1;
}
h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.2;
}
h4 {
  font-size: 1.125em;
  margin-bottom: 1.33em;
  line-height: 1.33;
}
h5 {
  font-weight: bold;
}
h5,
h6 {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}
p,
address {
  margin-bottom: 1.5em;
}
article ul {
  list-style: disc;
  margin-bottom: 1.5em;
}
article ul li {
  margin-left: 1.5em;
}
code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}
body {
  font: 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fcfaf4;
}
h1,
h2,
h3,
h4 {
  font-family: "Redressed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #a32931;
  text-decoration: none;
}
h1 {
  color: #784942;
  font-size: 3em;
}
h1 > a {
  color: #784942;
}
h3 {
  color: #9e7522;
  font-size: 2em;
  margin-top: 1em;
  zoom: 1;
}
h3:before,
h3:after {
  content: "";
  display: table;
}
h3:after {
  clear: both;
}
h3 > a {
  color: #9e7522;
}
h4 {
  font-size: 1.5em;
}
pre {
  background: #fff;
}
em {
  font-style: italic;
  font-weight: bold;
}
header,
section#content,
footer {
  width: 740px;
  margin-left: 220px;
}
.box-wrap {
  margin-bottom: 50px;
}
.box,
.box .antiscroll-inner {
  max-height: 340px;
  width: 140px;
}
header {
  zoom: 1;
  margin-top: 50px;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header h1 {
  font-size: 65px;
}
header h1 a {
  display: block;
  width: 193px;
  height: 217px;
  margin: 0px auto;
  overflow: hidden;
}
header p {
  color: #666;
  font-size: 22px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .gh {
  zoom: 1;
  background: #faf4e8;
  border: 1px solid #e9ce99;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  min-height: 100px;
}
header .gh:before,
header .gh:after {
  content: "";
  display: table;
}
header .gh:after {
  clear: both;
}
header .gh h4 {
  text-shadow: 1px 1px 0px #fff;
  margin-bottom: 10px;
  color: #666;
}
header .gh h4 #latestCommitURL {
  font-size: 11px;
  margin-left: 10px;
}
header .gh #commit {
  font-size: 10px;
  margin-right: 10px;
  line-height: 18px;
  padding: 0px 5px;
  background: #fefcf8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  color: #e0bb71;
}
header .gh #commit a {
  color: #e0bb71;
  font-style: italic;
}
header .gh #latestCommitMessage {
  line-height: 20px;
  text-shadow: 1px 1px 0px #fff;
}
header .gh #clone {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
header .gh #clone .fork {
  display: inline-block;
  padding: 0.5em 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a02830), color-stop(1, #93252c));
  background: -webkit-linear-gradient(top, #a02830 0%, #93252c 100%);
  background: -moz-linear-gradient(top, #a02830 0%, #93252c 100%);
  background: linear-gradient(top, #a02830 0%, #93252c 100%);
  border: 1px solid #7a1f25;
  font: 11px/normal helvetica, arial, freesans, clean, sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0px #bb2f38;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  display: inline-block;
}
header .gh #clone .fork:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eb3b00), color-stop(1, #c30));
  background: -webkit-linear-gradient(top, #eb3b00 0%, #c30 100%);
  background: -moz-linear-gradient(top, #eb3b00 0%, #c30 100%);
  background: linear-gradient(top, #eb3b00 0%, #c30 100%);
  color: #fff;
  text-shadow: -1px -1px 0px #992600;
  border: 1px solid #ad2b00;
}
header .gh #clone .clone {
  color: #666;
  float: left;
  display: inline-block;
  margin-left: 15px;
  background: #f7e6be;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 15px;
  font: 11px "Bitstream Vera Sans Mono", "Courier", monospace;
  line-height: 25px;
  max-width: 545px;
  overflow: hidden;
}
header .gh #links {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  line-height: 18px;
}
header .gh #links a {
  color: #a32931;
  padding: 0px 10px;
}
header .gh #links a:hover {
  text-decoration: underline;
}
section#content {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 350px;
}
section#content h1 {
  padding-top: 10px;
  margin-top: 85px;
}
section#content h2 {
  padding-top: 15px;
  margin-top: 25px;
}
section#content p code {
  padding: 3px 5px;
  background: #f6ebd4;
}
nav {
  position: fixed;
  top: 65px;
  left: 30px;
  width: 140px;
}
nav ul {
  list-style: none;
  margin-bottom: 50px;
}
nav ul li {
  margin-left: 0px;
  margin-right: 12px;
  text-align: right;
}
nav ul li.keepcase a {
  text-transform: none !important;
}
nav ul li.header {
  font-weight: bold;
}
nav ul li a {
  color: #666;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: lowercase;
}
nav ul li a:hover {
  text-decoration: underline;
}
footer {
  margin-top: 100px;
  padding-top: 25px;
  margin-bottom: 50px;
  border-top: 1px solid #9e7522;
  color: #808080;
  text-transform: lowercase;
}
pre {
  padding: 15px;
  margin: 15px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}
.code-wrap {
  zoom: 1;
}
.code-wrap ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.code-wrap ::-webkit-scrollbar-button:vertical {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-button:start:decrement,
.code-wrap ::-webkit-scrollbar-button:end:increment {
  display: none;
}
.code-wrap ::-webkit-scrollbar-button:vertical:start:increment,
.code-wrap ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.code-wrap ::-webkit-scrollbar-button:vertical:increment {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-track:vertical {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-track-piece:vertical:start {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-track-piece:vertical:end {
  border-width: 0px;
}
.code-wrap ::-webkit-scrollbar-track-piece {
  display: none;
}
.code-wrap ::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #e6e6e6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.code-wrap ::-webkit-scrollbar-corner:vertical {
  display: none;
}
.code-wrap ::-webkit-scrollbar-resizer:vertical {
  display: none;
}
.code-wrap:before,
.code-wrap:after {
  content: "";
  display: table;
}
.code-wrap:after {
  clear: both;
}
pre.source {
  max-height: 350px;
  overflow-y: auto;
  font-size: 11px;
  border: 1px solid #a32931;
}
.codeblock {
  position: relative;
  border-top: 1px dotted #e9ce99;
  margin-top: 85px;
}
.codeblock h1 {
  color: #a32931;
  margin-top: 0px !important;
}
.codeblock code {
  padding: 3px 5px;
  background: #f6ebd4;
}
.ctx h3 {
  color: #e9ce99;
}
.tags {
  padding: 15px;
  font-size: 12px;
}
.tags span {
  margin-right: 3px;
}
.tags span.type {
  font-weight: bold;
}
.tags span.types {
  font-style: italic;
}
.view-source {
  display: inline-block;
  padding: 0.5em 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555438), color-stop(1, #4e4d33));
  background: -webkit-linear-gradient(top, #555438 0%, #4e4d33 100%);
  background: -moz-linear-gradient(top, #555438 0%, #4e4d33 100%);
  background: linear-gradient(top, #555438 0%, #4e4d33 100%);
  border: 1px solid #41412b;
  font: 11px/normal helvetica, arial, freesans, clean, sans-serif;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0px #6d6c47;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
}
.view-source:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c7ec0), color-stop(1, #3570aa));
  background: -webkit-linear-gradient(top, #3c7ec0 0%, #3570aa 100%);
  background: -moz-linear-gradient(top, #3c7ec0 0%, #3570aa 100%);
  background: linear-gradient(top, #3c7ec0 0%, #3570aa 100%);
  color: #fff;
  text-shadow: -1px -1px 0px #285480;
  border: 1px solid #2d5f91;
}
pre .str,
code .str {
  color: #65b042;
/* string  - green */
}
pre .kwd,
code .kwd {
  color: #e28964;
/* keyword - dark pink */
}
pre .com,
code .com {
  color: #aeaeae;
  font-style: italic;
/* comment - gray */
}
pre .typ,
code .typ {
  color: #89bdff;
/* type - light blue */
}
pre .lit,
code .lit {
  color: #3387cc;
/* literal - blue */
}
pre .pun,
code .pun {
  color: #000;
/* punctuation - white */
}
pre .pln,
code .pln {
  color: #000;
/* plaintext - white */
}
pre .tag,
code .tag {
  color: #89bdff;
/* html/xml tag    - light blue */
}
pre .atn,
code .atn {
  color: #bdb76b;
/* html/xml attribute name  - khaki */
}
pre .atv,
code .atv {
  color: #65b042;
/* html/xml attribute value - green */
}
pre .dec,
code .dec {
  color: #3387cc;
/* decimal - blue */
}
pre.prettyprint,
code.prettyprint {
  background-color: #fff;
}
pre.prettyprint {
  white-space: pre-wrap;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
/* IE indents via margin-left */
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  list-style-type: none;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background-color: #fff;
}
@media print {
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
