
scrollbar()
  ::-webkit-scrollbar
    width: 8px
    height: 8px

  ::-webkit-scrollbar-button:vertical
    border-width: 0px

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment
    display: none

  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement
    display: none

  ::-webkit-scrollbar-button:vertical:increment
    border-width: 0px

  ::-webkit-scrollbar-button:vertical:decrement
    border-width: 0px

  ::-webkit-scrollbar-track:vertical
    border-width: 0px

  ::-webkit-scrollbar-track-piece:vertical:start
    border-width: 0px

  ::-webkit-scrollbar-track-piece:vertical:end
    border-width: 0px

  ::-webkit-scrollbar-track-piece
    display: none

  ::-webkit-scrollbar-thumb:vertical
    height: 50px
    background-color: #e6e6e6
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px

  ::-webkit-scrollbar-corner:vertical
    display: none

  ::-webkit-scrollbar-resizer:vertical
    display: none
