#guide
  article.prepared
    border-top 1px #F0DDB8 solid

  nav#guide
    .wrap
      background-color #FAF4E8 
      border-radius 5px 
      border 1px solid #F0DDB8 

      h3
        margin-top 0px
        margin-bottom 0px
