columnWidth = 55px
gutterWidth = 15px

.header-wrap
  row()
  .callouts
    grid(6)
  .installation
    grid(6)
    overflow visible

nav#primary
  .nav-wrap
    row()
    .logo
      grid(4)
    .navlist
      grid(8)

section#content
  row()
  .rowInside
    rowInside()
  .grid_3
    grid(3)
  .grid_4
    grid(4)
  .grid_6
    grid(6)
  .grid_8
    grid(8)
  .grid_9
    grid(9)
  .grid_12
    grid(12)

footer
  section#footer
    row()
    .branding
      grid(4)
    .list
      grid(2)
