@import 'nib'
@import 'fez'

global-reset()
fez-reset()


chaiblue = #30759C
chaicream = #FAF4E8
chaiswirl = #E9CE99

primary = #FAF4E8 //#F2EBD8 // background
accent = darken(primary, 60%)//#90BFC9 //darken(#fff, 15%)
headers = #784942 //449B33 // BD9462
ghbg = #81A27D//E8DEAD

buttonbig = #A40802 //A32931
buttonsmall = #575639
accentbg = #A32931

@import 'layout'

font_primary =  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
font_fancy = "Redressed", "Helvetica Neue", Helvetica, Arial, sans-serif

body
  font 14px/1.5 font_primary
  background-color #30759C
  padding-top 75px

body .content
  background-color #FAF4E8
  padding-top 30px
  padding-bottom 30px

h1, h2
  font-family font_fancy

h3, h4, h5
  font-family font_primary

h2.plain
  font-family font_primary
 
h3.fancy
  font-family font_fancy
  font-weight normal !important

a
  color buttonbig
  text-decoration none

h1
  color headers
  font-size 3em
  > a
    color headers

h2
  font-size 28px
  color headers

h3
  font-weight bold
  margin-top 10px
  color chaiblue
  font-size 20px
  clearfix()
  > a
    color accent

h4
  font-size 1.5em

ul
  margin-bottom 1.5em
  list-style disc
  padding-left 40px

pre
  background #fff

em
  font-style italic
  font-weight bold

.box-wrap
  margin-bottom 50px

.sticky
  position fixed
  background-color primary
  border-radius 0px 0px 5px 5px
  .box
  .box .antiscroll-inner
    width 225px
    height 276px

nav#primary
  box-shadow 0px 0px 1px headers
  width 100%
  position fixed
  z-index 1000
  top 0

body.index
  header
    background lighten(#E9CE99, 30%)
    padding-top 30px
    padding-bottom 30px
    .header-wrap
      position relative
      .installation
        .site-description
          color #784942
          margin-bottom 1.2em
          margin-top 15px
          font-size 22px
          font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
        .card
          clearfix()
          border-radius 5px 
          background-color #FAF4E8 // #F2EBD8 
          box-shadow 0px 0px 1px #000
          height 270px
          position relative
          .card-inner
            clearfix()
            margin 20px
            font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
            color #666
            h1
              font-size 40px
              margin-top -10px
              margin-bottom 0px
              color #30759C
              span.version
                font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
                font-size 12px
                color #666//#30759C
                background-color #fff //#FAF4E8 
                border-radius 5px
                padding 3px 6px
                margin-left 10px
                display inline-block
                position relative
                top -7px
            h2
              color #30759C
              font-size 25px
              margin-top -5px
              font-family "Redressed", "Helvetica Neue", Helvetica, Arial, sans-serif
              small
                font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
                position relative
                bottom 1px
                margin-left 15px
                color #666
                font-size 13px
                a
                  margin-left 15px
            .download-banner
              margin-top 30px
              .description
                margin-bottom 10px
              .command
                display inline-block
                background-color #fff
                float left
                font-family "Bitstream Vera Sans Mono", "Courier", monospace
                width 210px
                line-height 50px
                text-align center
                border-radius 3px
                box-shadow 0px 0px 1px #666
              .button
                font-size 18px
                display inline-block
                float left
                width 210px
                text-align center
                line-height 50px
                background-color #30759c //90BFC9
                border-radius 3px
                color #fff
              .dsp-left
                margin-right 10px
              .dsp-right
                margin-left 10px
            .tech-links
              text-align center
              position absolute
              bottom 20px
              width 440px
      .callouts
        .call
          a
            display block
            position relative
            clearfix()
            min-height 100px
            padding 20px
            span
              display block
              width 100px
              height 100px
              background-color lighten(#000, 90%)
              position absolute
              left 20px
              top 20px
              border-radius 5px
            big
              display block
              margin-left 130px
              margin-top 13px
              font-family "Redressed", "Helvetica Neue", Helvetica, Arial, sans-serif
              font-size 24px
            small
              display block
              margin-left 130px
              font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
              color #784942
            &:hover
              box-shadow inset 0px 0px 1px #666

section#content
  clearfix()
  min-height 380px
  overflow visible

  h1
    margin-top 30px
  h2
    padding-top 15px
    margin-top 25px
  p
    code
      padding 3px 5px
      background darken(primary, 5%)

.panels
  clearfix()
  overflow visible !important

  .rowInside
    margin-top 30px

  .hrline
    border-top 1px dashed lighten(headers, 65%)
    margin-bottom 30px !important

  h2
    margin-bottom 0px
    padding-top 0px !important
    margin-top 0px !important
    line-height 30px
    color #784942

  pre
    padding 0px
    margin 0px
    background none
    border-radius none
    border none

  article
    &.desc
      margin-bottom 30px !important

      h2
        font-size 21px

    .wrap
      clearfix()
      padding 20px

    .more
      display block
      float right
      margin-top 20px
      clear both

    h3
      margin-top 0px
      font-size 20px
      color #30759C
      &::after
        clear none !important

  article.contrast
    overflow visible !important
    margin-bottom 30px !important
    background-color #fff
    border-radius 5px
    box-shadow 0px 0px 1px headers

  article.subscribe
    .rowInside
      margin-top 0px
    h3
    p
      margin-bottom 0px


  article.plugin-box
  article.plugin-box_s
    .wrap
      height 315px

    span.img
      background lighten(#000, 95%)
      display block
      margin-bottom 20px
      height 80px

    a.ablock
      display block
      color inherit

  article.plugin-box_s
    .wrap
      height 150px

  article.code
  article.subscribe
  article.github
  article.community
    background-color #fff
    border-radius 5px


    span.img
      background lighten(#000, 95%)
      display block
      float right
      width 100px
      margin-left 20px
      height 120px


section#home
  .site-description
    color lighten(#000, 40%)
    margin-bottom 1.2em
    font-size 22px
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
    
nav#primary
  border-top 5px solid #E9CE99
  background-color #fff
  .logo
    h1
      margin-bottom 0px
      line-height 70px
      a
        display block
        float left
  .navlist
    ul
      list-style none
      margin-bottom 0px 
      float right
      li
        display block
        float left
        font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size 18px
        a
          display block
          line-height 70px
          padding 0px 25px

nav#pages
  display none
  ul
    list-style none
    margin-bottom 50px
    li
      margin-left 0px
      margin-right 12px
      text-align right
      &.keepcase
        a
          text-transform none !important
      &.header
        font-weight bold
      a
        color lighten(#000, 40%)
        font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
        text-transform lowercase
        font-size 14px
        &:hover
          text-decoration underline

footer
  padding-top 30px
  padding-bottom 30px
  background-color #30759C
  font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  ul
    list-style none
    padding-left 0px
  a
    color #FAF4E8
  .branding
    h3
      margin-top 0px

table
  width 100%
  background-color #fff
  border-radius 5px
  border 1px solid lighten(#000, 80%)
  margin-bottom 1.5em

  td
  th
    display table-cell

  tr
    border-top 1px #ccc solid

    &:nth-child(2n)
      background-color lighten(#000, 95%)

    th
    td
      padding 6px 13px

    th
      border-bottom 1px #ccc solid

@import 'highlight'
@import 'plugins'
@import 'guide'
@import 'api'
