@import 'nib'
@import 'fez'
@import 'scrollbar'

global-reset()
fez-reset()

primary = #FAF4E8 //#F2EBD8 // background
accent = darken(primary, 60%)//#90BFC9 //darken(#fff, 15%)
headers = #784942 //449B33 // BD9462
ghbg = #81A27D//E8DEAD

buttonbig = #A32931
buttonsmall = #575639

body
  font 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color lighten(primary, 50%)

h1, h2, h3, h4
  font-family "Redressed", "Helvetica Neue", Helvetica, Arial, sans-serif

a
  color buttonbig
  text-decoration none

h1
  color headers
  font-size 3em
  > a
    color headers

h3
  color accent
  font-size 2em
  margin-top 1em
  clearfix()
  > a
    color accent

h4
  font-size 1.5em

pre
  background #fff

em
  font-style italic
  font-weight bold

header, section#content, footer
  width 740px
  margin-left 220px

.box-wrap
  margin-bottom 50px

.box, .box .antiscroll-inner
  max-height 340px
  width 140px

header
  clearfix()
  margin-top 50px
  h1
    font-size 65px
    a
      display block
      width 193px
      height 217px
      margin 0px auto
      overflow hidden
  .description
    color lighten(#000, 40%)
    margin-bottom 1.2em
    font-size 22px
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  .gh
    clearfix()
    background primary
    border 1px solid darken(primary, 20%)
    border-radius 5px
    padding 10px
    position relative
    min-height 100px
    h4
      text-shadow 1px 1px 0px #fff
      margin-bottom 10px
      color lighten(#000, 40%)
      #latestCommitURL
        font-size 11px
        margin-left 10px
    #commit
      font-size 10px
      margin-right 10px
      line-height 18px
      padding 0px 5px
      background lighten(primary, 70%)
      border-radius 3px
      float left
      color darken(primary, 30%)
      a
        color darken(primary, 30%)
        font-style italic
    #latestCommitMessage
      line-height 20px
      text-shadow 1px 1px 0px #fff
    #clone
      position absolute
      bottom 10px
      right 10px
      left 10px
      .fork
        button-shiny(buttonbig, #fff, #cc3300)
        cursor pointer
        float left
        display inline-block
      .clone
        color lighten(#000, 40%)
        float left
        display inline-block
        margin-left 15px
        background #F7E6BE
        border-radius 5px
        padding 0px 15px
        font 11px "Bitstream Vera Sans Mono", "Courier", monospace
        line-height 25px
        max-width 545px
        overflow hidden
    #links
      position absolute
      top 10px
      right 10px
      font-size 11px
      line-height 18px
      a
        color buttonbig
        padding 0px 10px
        &:hover
          text-decoration underline

section#content
  margin-top 50px
  margin-bottom 50px
  min-height 350px

  h1
    padding-top 10px
    margin-top 85px
  h2
    padding-top 15px
    margin-top 25px
  p
    code
      padding 3px 5px
      background darken(primary, 5%)

nav
  position fixed
  top 65px
  left 30px
  width 140px

  ul
    list-style none
    margin-bottom 50px
    li
      margin-left 0px
      margin-right 12px
      text-align right
      &.keepcase
        a
          text-transform none !important
      &.header
        font-weight bold
      a
        color lighten(#000, 40%)
        font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size 14px
        text-transform lowercase
        &:hover
          text-decoration underline

footer
  margin-top 100px
  padding-top 25px
  margin-bottom 50px
  border-top 1px solid accent
  color lighten(#000, 50%)
  text-transform lowercase

@import 'code'
