# This workflow will do a clean install of node dependencies, build the source
# code and run tests across different versions of browsers

name: Browsers CI

on:
  push:
    branches: [ main, 4.x.x ]
  pull_request:
    branches: [ main, 4.x.x ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser-name:
          - chromium
          - firefox

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: ${{ matrix.browser-name }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
    - run: npm ci
    - run: npx playwright install --with-deps
    - run: npm run build --if-present
    - run: npm run test-chrome -- --browsers ${{ matrix.browser-name }}
